.licorice {
  background: #130303;
}

.blackbean {
  background: #2D080A;
}

.burntumber {
  background: #7C3626;
}

.pumpkin {
  background: #F5853F;
}

.paledogwood {
  color: #FFCDBC;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg ml-2;
}

h4 {
  @apply text-sm ml-4 my-1;
}
